.App {
    text-align : "center";
}

.App-logo {
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.App-body {
    background-color: black;
}
.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.App-box {
    text-align: center;
    position: relative;
    background-color: lightblue;
    width: 500px;
    border: 15px solid green;
    padding: 74px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.input{
    text-align: center;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
}